<%- include("partials/header") -%>



<!-- LANDING PAGE -->
<header class="header">
  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Help save the less fortunate</span>
      <span class="heading-primary--sub">Sharing is carring</span>
    </h1>

    <button
      class="shadow btn btn-danger btn-lg px-4 me-md-2 fw-bold btn--animated"
    >
      DONATE
    </button>
  </div>
</header>




<main>


  <!-- HERO MISSION STATEMENT -->
  <section>
    <div
      id="mission-statement"
      class="ribbon px-4 pt-5 pb-5 mb-5 text-center bg-light"
    >
      <i class="fa fa-duotone fa-ribbon fa-2xl pb-3"></i>
      <h1 class="display-5 fw-bold">Supporting people around the world</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          We work in the hardest-to-reach places, where it’s toughest to be a
          child. We're on the ground helping with search and rescue, and
          providing food and blankets. With your help, we can reach those most
          in need in the UK and overseas.
        </p>
      </div>
    </div>
  </section>




  <!-- NEWS -->
  <section>
    <div class="row mb-2 px-5 mx-5">
      <div id="mission-statement" class="pb-3 text-center">
        <h1 class="display-5 fw-bold">Lates News</h1>
      </div>

      <div class="col-md-6 up-animation hidden-left">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary"
              >United States</strong
            >
            <h3 class="mb-0">Hurricane Irma</h3>
            <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text mb-auto">
              Hurricane Irma's first continental U.S. landfall occurred at
              Cudjoe Key in ...
            </p>
            <a href="#" class="stretched-link">Continue reading &rarr; </a>
          </div>
          <div class="col-auto d-lg-block">
            <svg
              class="bd-placeholder-img"
              width="200"
              height="250"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>

              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              <image
                href="https://images.unsplash.com/photo-1454789476662-53eb23ba5907?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=904&q=80"
                width="100%"
              />
            </svg>
          </div>
        </div>
      </div>

      <div class="col-md-6 up-animation hidden-right">
        <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative"
        >
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Europe</strong>
            <h3 class="mb-0">Turkey Earthquake Aid</h3>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="mb-auto">
              The donation from the Square Mile governing body’s International
              Disasters Fund will support ...
            </p>
            <a href="#" class="stretched-link">Continue reading &rarr; </a>
          </div>
          <div class="col-auto d-lg-block">
            <svg
              class="bd-placeholder-img"
              width="200"
              height="250"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Thumbnail"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>

              <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              <image
                href="https://images.unsplash.com/photo-1643321613219-6d50e1372c0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGNoYXJpdHl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                width="100%"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>




    <div class="text-center pb-5">
      <button
        class="btn btn-outline-secondary btn-sm"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseWidthExample"
        aria-expanded="false"
        aria-controls="collapseWidthExample"
      >
        More &darr;
      </button>
    </div>

    <div class="collapse" id="collapseWidthExample">
      <div>
        <div class="row mb-2 px-5 mx-5">
          <div class="col-md-6 up-animation hidden-left">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative"
            >
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-secondary"
                  >Global</strong
                >
                <h3 class="mb-0">What Is a Refugee?</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">
                  The world is now witnessing the highest levels of displacement on record. Here are some ...
                </p>
                <a href="#" class="stretched-link">Continue reading &rarr; </a>
              </div>
              <div class="col-auto d-lg-block">
                <svg
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                  
                >

                  <image
                    href="https://images.pexels.com/photos/11597095/pexels-photo-11597095.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    height="100%"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div class="col-md-6 up-animation hidden-right">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative"
            >
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Europe</strong>
                <h3 class="mb-0">Turkey Earthquake Aid</h3>
                <div class="mb-1 text-muted">Nov 11</div>
                <p class="mb-auto">
                  The donation from the Square Mile governing body’s
                  International Disasters Fund will support ...
                </p>
                <a href="#" class="stretched-link">Continue reading &rarr; </a>
              </div>
              <div class="col-auto d-lg-block">
                <svg
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>

                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    Thumbnail
                  </text>
                  <image
                    href="https://images.unsplash.com/photo-1643321613219-6d50e1372c0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGNoYXJpdHl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                    width="100%"
                  />
                </svg>
              </div>
            </div>
          </div>

          <div class="col-md-6 up-animation hidden-left">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative"
            >
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Europe</strong>
                <h3 class="mb-0">Turkey Earthquake Aid</h3>
                <div class="mb-1 text-muted">Nov 11</div>
                <p class="mb-auto">
                  The donation from the Square Mile governing body’s
                  International Disasters Fund will support ...
                </p>
                <a href="#" class="stretched-link">Continue reading &rarr; </a>
              </div>
              <div class="col-auto d-lg-block">
                <svg
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>

                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    Thumbnail
                  </text>
                  <image
                    href="https://images.unsplash.com/photo-1643321613219-6d50e1372c0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGNoYXJpdHl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                    width="100%"
                  />
                </svg>
              </div>
            </div>
          </div>

          <div class="col-md-6 up-animation hidden-right">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative"
            >
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Europe</strong>
                <h3 class="mb-0">Turkey Earthquake Aid</h3>
                <div class="mb-1 text-muted">Nov 11</div>
                <p class="mb-auto">
                  The donation from the Square Mile governing body’s
                  International Disasters Fund will support ...
                </p>
                <a href="#" class="stretched-link">Continue reading &rarr; </a>
              </div>
              <div class="col-auto d-lg-block">
                <svg
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>

                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    Thumbnail
                  </text>
                  <image
                    href="https://images.unsplash.com/photo-1643321613219-6d50e1372c0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGNoYXJpdHl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                    width="100%"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div id="mission-statement" class="text-center pb-3 pt-5">
      <h1 class="display-5 fw-bold">Volunteers Commitment</h1>
    </div>

    <div class="album pb-5">
      <div class="container mb-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gx-5">
          <div class="col hidden-left scale-animation">
            <div class="card shadow">
              <svg
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                <image
                  href="https://images.pexels.com/photos/6995244/pexels-photo-6995244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  width="100%"
                />
              </svg>
              <div class="card-body">
                <p class="card-text">
                  Volunteer with us to help vulnerable people and make a
                  difference in your community. We are not currently sending
                  volunteers to Ukraine.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Get involved
                    </button>
                  </div>
                  <small class="text-muted">November 11</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col hidden-bottom scale-animation">
            <div class="card shadow">
              <svg
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                <image
                  href="https://images.pexels.com/photos/6646917/pexels-photo-6646917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  width="100%"
                />
              </svg>
              <div class="card-body">
                <p class="card-text">
                  We have volunteering roles to suit everyone, no matter how
                  much time you have to give and whatever your experience.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Get involved
                    </button>
                  </div>
                  <small class="text-muted">September 27</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col hidden-right scale-animation">
            <div class="card shadow">
              <svg
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                <image
                  href="https://images.pexels.com/photos/6590920/pexels-photo-6590920.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  width="100%"
                />
              </svg>
              <div class="card-body">
                <p class="card-text">
                  You can volunteer in some of our services from age 15 and we
                  have opportunities for young people to get involved with our
                  work.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-secondary"
                    >
                      Get involved
                    </button>
                  </div>
                  <small class="text-muted">December 13</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <!-- HERO DONATE/VOLUNTEER -->
  <section>
    <div id="support" class="scale-animation container my-5 pb-1 hidden-bottom">
      <div
        class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
      >
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold lh-1">
            Find out more and support our work
          </h1>
          <p class="lead">
            Make a regular donation. Your monthly gift could save lives. Help
            power our support for refugees and other people in crisis, in the UK
            and abroad. When you see a major emergency in the news, it’s likely
            that the Forgotten Souls Foundation are helping those affected.
          </p>
          <div
            class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3"
          >
            <button
              type="button"
              class="shadow btn btn-outline-danger btn-lg px-4 me-md-2 fw-bold"
            >
              DONATE
            </button>
            <button type="button" class="shadow btn btn-secondary btn-lg px-4">
              Volunteer
            </button>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
          <img
            class="rounded-3 w-sm-100 m-auto mb-5"
            src="https://images.unsplash.com/photo-1608535002897-27b2aa592456?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            alt=""
            width="80%"
          />
        </div>
      </div>
    </div>
  </section>




  <!-- MASONRY FEATURED STORIES -->
  <section>
    <div class="container py-5">
      <h1>Featured Stories</h1>

      <hr class="my-5" />
      <div class="row" data-masonry='{"percentPosition": true }'>
        <div class="up-animation col-sm-6 col-lg-4 mb-4 hidden-bottom">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="200"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Image cap"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <image href="/images/masonry1.jpg" width="100%" />
            </svg>
            <div class="card-body">
              <h5 class="card-title">Ukraine Crisis Appeal</h5>
              <p class="card-text">
                This is a longer card with supporting text below as a natural
                lead-in to additional content. This content is a little bit
                longer.
              </p>
            </div>
          </div>
        </div>

        <div class="up-animation col-sm-6 col-lg-4 mb-4 hidden-bottom">
          <div class="card p-3 shadow-sm">
            <figure class="p-3 mb-0">
              <blockquote class="blockquote">
                <p>
                  Bounty always receives part of its value from the manner in
                  which it is bestowed.
                </p>
              </blockquote>
              <figcaption class="blockquote-footer mb-0 text-muted">
                <cite title="Source Title">Samuel Johnson</cite>
              </figcaption>
            </figure>
          </div>
        </div>

        <div class="up-animation col-sm-6 col-lg-4 mb-4 hidden-bottom">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img-top"
              width="100%"
              height="200"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Image cap"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <image href="/images/masonry2.jpeg" width="100%" />
            </svg>
            <div class="card-body">
              <h5 class="card-title">Forgotten Souls Foundation Team</h5>
              <p class="card-text">
                This card has supporting text below as a natural lead-in to
                additional content.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>

        <div class="up-animation col-sm-6 col-lg-4 mb-4 hidden-bottom">
          <div class="card text-bg-primary text-center p-3">
            <figure class="mb-0">
              <blockquote class="blockquote">
                <p>
                  Charity brings to life again those who are spiritually dead.
                </p>
              </blockquote>
              <figcaption class="blockquote-footer mb-0 text-white">
                <cite title="Source Title">Thomas Aquinas</cite>
              </figcaption>
            </figure>
          </div>
        </div>

        <div class="up-animation col-sm-6 col-lg-4 mb-4 hidden-bottom">
          <div class="card text-center shadow-sm">
            <div class="card-body">
              <h5 class="card-title">Global Surge Team</h5>
              <p class="card-text">
                For our Global Surge Team, the front line of a disaster is only
                ever 48 hours away.
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>

        <div class="up-animation col-sm-6 col-lg-4 mb-4 hidden-bottom">
          <div class="card shadow-sm">
            <svg
              class="bd-placeholder-img card-img"
              width="100%"
              height="260"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Card image"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
            >
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#868e96" />
              <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Card image</text>
              <image href="/images/masonry3.jpg" width="100%" />
            </svg>
          </div>
        </div>

        <div class="up-animation col-sm-6 col-lg-4 mb-4 hidden-bottom">
          <div class="card p-3 text-end shadow-sm">
            <figure class="mb-0">
              <blockquote class="blockquote">
                <p>
                  Charity is injurious unless it helps the recipient to become
                  independent of it.
                </p>
              </blockquote>
              <figcaption class="blockquote-footer mb-0 text-muted">
                <cite title="Source Title">John D. Rockefeller Jr.</cite>
              </figcaption>
            </figure>
          </div>
        </div>

        <div class="up-animation col-sm-6 col-lg-4 mb-4 hidden-bottom">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">Help us prepare</h5>
              <p class="card-text">
                The world is facing new conflicts and damaging environmental
                events that are placing entire countries and the millions of
                people living in them at risk
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <!-- SIMPLE BANNER VOLUNTEERS -->
  <section>
    <div
      class="scale-animation vw-auto p-3 py-3 mx-auto hidden-bottom col-sm-6 col-lg-10"
    >
      <div class="p-2 border">
        <img src="/images/wide-img-card.jpg" class="card-img" alt="..." />
      </div>
    </div>
  </section>




  <!-- YOUR SUPPORT -->
  <section>
    <div class="container px-4 pt-5 pb-1" id="hanging-icons">
      <h2 class="pb-2 border-bottom">Your support</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start hidden-left stagger">
          <div
            class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#toggles2" />
              <i class="fa fa-solid fa-location-dot px-3 fa-lg"></i>
            </svg>
          </div>

          <div class="up-animation">
            <h3 class="fs-2">In the UK</h3>
            <p>
              If you have lost contact and are concerned about any family
              members following the boat sinking in the English Channel on 14
              December, our Restoring Family Links service might be able to
              help.
            </p>
          </div>
        </div>
        <div class="col d-flex align-items-start stagger hidden-left">
          <div
            class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#cpu-fill" />
              <i class="fa fa-regular fa-earth-americas px-3 fa-lg"></i>
            </svg>
          </div>

          <div class="up-animation">
            <h3 class="fs-2">Around the World</h3>
            <p>
              Often within hours of an emergency – or even before it’s happened
              – our emergency response units in the local Red Cross or Red
              Crescent National Society are on the ground keeping people safe.
            </p>
          </div>
        </div>
        <div class="col d-flex align-items-start stagger hidden-left">
          <div
            class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
          >
            <svg class="bi" width="1em" height="1em">
              <use xlink:href="#tools" />
              <i class="fa fa-solid fa-circle-info px-3 fa-lg"></i>
            </svg>
          </div>

          <div class="up-animation">
            <h3 class="fs-2">How to help</h3>
            <p>
              When you donate to Save the Children for the holidays, you’re
              creating ripples of lasting change in children’s lives and,
              ultimately, the future we share. Support through a Workplace
              Giving campaign this holiday season.
            </p>
            <a href="#" class="btn btn-outline-dark"> Find out more </a>
          </div>
        </div>
      </div>
    </div>
  </section>




  <!-- NEWSLETTER -->
  <section>
    <div id="newsletter" class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start hidden-left">
          <h1 class="display-4 fw-bold lh-1 mb-3">
            Sign-up Today to Our
            <span class="newsletter-word">Newsletter!</span>
          </h1>
          <p class="col-lg-10 fs-4">
            Please sign up to receive our newsletter if you would like to stay
            in touch with FSF and find out more about our work to end violence
            against women and girls
          </p>
        </div>

        <div
          class="col-md-10 mx-auto col-lg-5 newsletter-animation hidden-right"
        >
          <form class="p-4 p-md-5 border rounded-3 bg-light shadow">
            <div class="form-floating mb-3">
              <input
                type="text"
                name="fName"
                class="form-control"
                id="floatingFirstName"
                placeholder="First Name"
              />
              <label for="floatingFirstName">First Name</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="text"
                name="lName"
                class="form-control"
                id="floatingLastName"
                placeholder="Last Name"
              />
              <label for="floatingLastName">Last Name</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Email address</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">
              Sign up
            </button>
            <hr class="my-4" />
            <small class="text-muted"
              >By clicking Sign up, you agree to the terms of use.</small
            >
          </form>
        </div>
      </div>
    </div>
  </section>


</main>




<%- include("partials/footer") -%>
